{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh
set -eu

# This is a run_once_ script, so Chezmoi ensures it's only invoked one time.

# If no SSH-Key item exists with the exact title of this host, create one.
if ! op item get --format json "{{ .chezmoi.hostname }}" >/dev/null 2>&1; then
  op item create --category SSH_KEY --title "{{ .chezmoi.hostname }}"
fi
{{- end -}}
