{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh
set -eu

# Refresh package index
sudo apt-get update

# Gather packages into a variable
packages="$(cat <<EOF
{{- range .chezmoi.data.packages.linux.apt }}
{{ . }}
{{- end }}
EOF
)"

# Install packages if any
if [ -n "$packages" ]; then
  printf '%s\n' "$packages" | xargs -r sudo apt-get install -y
fi
{{- end -}}
