# Ignore all data files by default
.chezmoidata/*

!.chezmoidata/chezmoi.*.yaml
!.chezmoidata/packages.yaml
!.chezmoidata/chezmoi.yaml

# Ignore scripts except templates
.chezmoiscripts/*
!.chezmoiscripts/*.tmpl

# Ignore local chezmoi state
.local/share/chezmoi/

# Node modules
node_modules/

# macOS
*.DS_Store

# Editor swap files
*.swp

# IDE / editor settings
.vscode/
