#!/usr/bin/env bash
set -e
FONT_DIR="$HOME/.local/share/fonts/CaskaydiaCove_Nerd_Font"
[ -d "$FONT_DIR" ] && exit 0
mkdir -p "$FONT_DIR"
curl -L -o /tmp/CaskaydiaCove.zip \
  https://github.com/ryanoasis/nerd-fonts/releases/latest/download/CaskaydiaCove.zip
unzip /tmp/CaskaydiaCove.zip -d "$FONT_DIR"
fc-cache -fv
echo "🎨 Installed CaskaydiaCove Nerd Font"
