[user]
    name = "{{ .git_name }}"
    email = "{{ .git_email }}"

[core]
    editor = vim
    autocrlf = input
    filemode = true
    pager = batcat

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[merge]
    ff = false

[log]
    decorate = true
    abbrevCommit = true
    graph = true

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[help]
    autocorrect = 1

[credential]
    helper = store

[url "https://github.com/"]
    insteadOf = git@github.com: 