# ~/.bash_profile.tmpl
{{- $host := index .data .chezmoi.hostname -}}

# Set timezone if specified
{{- if $host.timezone -}}
export TZ="{{ $host.timezone }}"
{{- end -}}

# Source .bashrc if it exists
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi
