#!/usr/bin/env bash
set -e
if command -v zsh >/dev/null 2>&1; then
    USER_NAME=$(whoami)
    DESIRED_SHELL=$(command -v zsh)
    CURRENT_SHELL=$(getent passwd "$USER_NAME" | cut -d: -f7)
    if [ "$CURRENT_SHELL" != "$DESIRED_SHELL" ]; then
        chsh -s "$DESIRED_SHELL" "$USER_NAME"
    fi
fi
