{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -e

data="$HOME/.local/share/chezmoi/.chezmoidata/packages.yaml"
cli_pkgs=$(yq e '.packages.linux.cli[]' "$data")
pkgs="$cli_pkgs"

# only install GUI pkgs when this host has headless = false
{{- /* Grab the host-specific map for the current hostname */ -}}
{{- $hostData := index .data .chezmoi.hostname -}}
{{- if not $hostData.headless -}}
gui_pkgs=$(yq e '.packages.linux.gui[]' "$data")
pkgs="$pkgs $gui_pkgs"
{{- end -}}

sudo apt-get update
for pkg in $pkgs; do
  dpkg -s "$pkg" >/dev/null 2>&1 || sudo apt-get install -y "$pkg"
done
{{- end -}}
