#!/usr/bin/env bash
command -v op >/dev/null 2>&1 && exit 0

case "$(uname -s)" in
  Linux)
    curl -sS https://downloads.1password.com/linux/keys/1password.asc \
      | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    echo \
      "deb [signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] \
https://downloads.1password.com/linux/debian/ \
stable main" \
      | sudo tee /etc/apt/sources.list.d/1password.list
    sudo apt update
    sudo apt install -y 1password-cli
    ;;
  *)
    echo "Unsupported OS for 1Password CLI install"
    exit 1
    ;;
esac
