# ~/.ssh/config.tmpl
{{- $host := index .data .chezmoi.hostname -}}

# Global settings
Host *
  User {{ .chezmoi.username | default "root" }}
  HostKeyAlgorithms +ssh-ed25519
  {{- if $host.sshAgent -}}
  IdentityAgent {{ print .chezmoi.homeDir }}/.1password/agent.sock
  AddKeysToAgent yes
  ForwardAgent yes
  {{- else -}}
  IdentityFile {{ print .chezmoi.homeDir }}/.ssh/id_ed25519
  IdentitiesOnly yes
  {{- end -}}

# GitHub configuration
Host github.com
  HostName github.com
  User git
  {{- if $host.sshAgent -}}
  IdentityAgent {{ print .chezmoi.homeDir }}/.1password/agent.sock
  AddKeysToAgent yes
  {{- else -}}
  IdentityFile {{ print .chezmoi.homeDir }}/.ssh/id_ed25519
  IdentitiesOnly yes
  {{- end -}}
