# ~/.ssh/config.tmpl

Host *
  User {{ default "root" .host.sshUser }}
  HostKeyAlgorithms +ssh-ed25519

{{- if default false .host.sshAgent -}}
# — 1Password SSH agent on “commander” —
  IdentityAgent {{ print .chezmoi.homeDir }}/.1password/agent.sock
  AddKeysToAgent yes
  ForwardAgent yes
{{- else -}}
# — Fallback to on-disk key for headless or non-agent hosts —
  IdentityFile {{ print .chezmoi.homeDir }}/.ssh/id_ed25519
  IdentitiesOnly yes
{{- end -}}
