#!/usr/bin/env bash
set -e
TITLE="SSH key $(hostname)"
# skip if already stored
if op item list --categories SSH_KEY --vault Personal \
     | grep -qxF "$TITLE"; then
  exit 0
fi
# sign in if needed
command -v op &>/dev/null || exit 1
! op whoami &>/dev/null && eval "$(op signin)"
KEY_PRIV="$HOME/.ssh/id_ed25519"
KEY_PUB="$HOME/.ssh/id_ed25519.pub"
op item create \
  --category SSH_KEY \
  --title "$TITLE" \
  --vault Personal \
  privateKey="$(<"$KEY_PRIV")" \
  publicKey="$(<"$KEY_PUB")"
echo "🔐 Stored SSH key in 1Password as '$TITLE'"
